.box {
  background-color: rgb(255, 255, 255);
  margin-right: 20px;
  height: 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  padding-top: 20px;
  padding-left: 100px;
}
.box1 {
  background-color: rgb(255, 255, 255);
  margin-right: 20px;
  height: 150px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  padding-top: 15px;
}
.formComtainer {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}
.formFields {
  background: white;
  border: 2px solid rgb(212, 212, 212);
}


.mainContainer{
  width: 60%;
  margin: auto;
}
.pManin{
  flex: 1;
  align-items: center;
  justify-content: center;
}
.pBox{
  background-color: #1a808d;
  color: white;
  width: 150px;
  height: 25px;
  text-align: center;
  border-radius: 20px;
  margin-right: 10px;
}
.pBox1{
  background-color: #1a808d;
  color: white;
  width: 230px;
  height: 25px;
  text-align: center;
  border-radius: 20px;
}



.consCol{
  background-color: #fbc3c3;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}
.consHeading{ 
  background: #e93737;
  color: white;
  padding: 14px;
  box-shadow: 0 5px 15px 0 rgb(191 217 194);
}
.points{
  text-align: left;
  margin-top: 10px;
}





.consCol1{
  background-color: #dafbff;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}
.consHeading1{ 
  background: #118d9d;
  color: white;
  padding: 14px;
  box-shadow: 0 5px 15px 0 rgb(191 217 194);
}
.points1{
  text-align: left;
  margin-top: 10px;
}


@media (max-width: 767px) {
  .contactInfo {
    background-color: #1a808d;
    flex-direction: column;
  }
  .box {
    padding-top: 10px;
    padding-left: 10px;
  }
  .mainContainer{
    width: 100%;
    margin: auto;
    padding: 10px;
  }

}