/* contentSection.module.css */

.movingbox {
  background-color: white;
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: center;
  padding: 10px;
  width: 200px;
}

.box {
  font-size: 50px;
  line-height: 1;
  margin-left: -20px;
}

/* Adjust text in the box for better alignment */
.boxText {
  font-size: 16px;
  line-height: 24px;
  margin-left: 18px;
}
.button {
  background-color: "red";
}
.text_number {
  margin-left: 5px;
  margin-top: 10px;
  font-size: 34px;
  font-weight: 400;
  line-height: 24px;
  color: white;
}
.text_style {
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: white;
}
.main {
  background-image: linear-gradient(
      rgba(26, 128, 141, 0.7),
      rgba(26, 128, 141, 0.7)
    ),
    url("../../public/static/images/Closing-Curtain-26.jpeg");
  background-size: cover;
  background-position: center;
  max-width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.box_container {
  border: rgb(168, 168, 168) solid 1px;
  width: 250px;
  background-color: #1a808d8a;
}
.imageWithBorder {
  border-top: 5px dashed black;
}
.line1 {
  font-size: 14px;
  font-weight: bold;
  color: #1a808d;
  margin: 0;
}
.mainIcon {
  align-self: center;
  margin-right: 20px;
}
.iconstyle {
  color: #1a808d;
  font-size: 30px;
  background: white;
  border-radius: 51%;
  padding: 10px;
  box-shadow: 2px 2px 4px rgba(128, 128, 128, 0.5);
  width: 80px;
  height: 60px;
  line-height: 80px;
}
.inner {
  width: 100%;
  margin: auto;
}

.sale {
  background-color: #1a808d;
}
.mainSection {
  padding: 50px;
}
@media (max-width: 767px) {
  .box_container {
    margin-bottom: 20px !important;
  }
  .mainSection {
    padding: 10px;
  }
}
