.main {
  /* background: url("../../public/static/images/1-Electric-Curtains-UAE-1.jpg"); */
  background-image: linear-gradient(
      rgba(30, 31, 31, 0.7),
      rgba(59, 59, 59, 0.7)
    ),
    url("../../public/static/images/1-Electric-Curtains-UAE-1.jpg");
  background-size: cover;
  background-position: center;
  max-width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.box {
  background-color: #e2dede;
  width: 75%;
  margin: auto;
  border: aliceblue 5px solid;
}
.iconBox{
  color: white;
  background-color: #1a808d;
  border: 3px solid #71cedb;
  width: 140px;
  height: 40px;
  text-align: center;
}
.imageStyle{
  border-radius: 50%;
  border: #1a808d 7px solid;
}
.maniRow{
  background-color: lightgray;
  margin: auto; 
  padding: 20px;
}
.h2heading{
  color: #1a808d;
}



.imageStyle1{
  border-radius: 50%;
  border: lightgray 7px solid;
}
.maniRow1{
  background-color: #1a808d;
  margin: auto; 
  padding: 20px;
  color: white;
}

.fontSize{
  font-size: 18px;
}
