.text {
  padding-right: 20px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.text:hover {
  background-color: #1a808d;
}
.text1 {
  padding-right: 20px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.text1:hover {
  color: #1a808d;
}
@media (max-width: 767px) {
  .logomain {
    margin: 0px !important;
  }
}

.fontSize{
  font-size: 18px;
}

.space{
  margin-bottom: 0;
  margin-right: 20px;
}
