.text {
  padding-right: 20px;
  color: black;
  font-weight: bold;
}
@media (max-width: 767px) {
  .logomain {
    margin: 0px !important;
  }
}

.fontSize{
  font-size: 18px;
}


.dropdownLink{
  text-decoration: none;
  padding-right: 20px;
  color: black;
  font-weight: bold;
}