.box{
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #1a808d;
    align-items: center;
    justify-content: center;
}
.textBox{
    color: #1a808d;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    text-decoration: none;
}